/* ------------------- */
/*       Reset         */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*   Utility classes   */
/* ------------------- */

/* Colors */

:root {
  --dark: #0b0d17;
  --light: #d0d6f9;
  --white: #ffffff;
}

/* Typography */

body {
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 400;
}

h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  line-height: 171.9px;
}
h2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
  line-height: 114.6px;
}
h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  line-height: 64.18px;
}
h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  line-height: 36.67px;
}
h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  line-height: 33.6px;
  letter-spacing: 4.75px;
  color: var(--light);
}
.sub-h1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.09px;
}
.sub-h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 2.35px;
}
.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 2.7px;
}
.p-text {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

/* Interactive elements */

.nav-link_active {
  border-bottom: 3px solid var(--white);
}
.nav--link:hover {
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
}

.lp-main_btn {
  width: 274px;
  height: 274px;
  position: absolute;
  margin-left: 1001px;
  top: 495px;
  background: var(--white);
  font-family: "Bellefair", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 36.67px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  border-radius: 50%;
  transition-duration: 500ms;
}
.lp-main_btn:hover {
  box-shadow: 0px 0px 0px 88px hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}

/* ------------------- */
/*     Custom code     */
/* ------------------- */

.home {
  height: 100%;
  width: 100%;
  background-image: url("./assets/home/background-home-desktop.jpg");
  background-size: cover;
}
.home_content-container {
  max-width: 1440px;
  height: 900px;
  margin-inline: auto;
  border: 2px solid red;
}
.home_text_container {
  width: 450px;
  height: 382px;
  margin-left: 165px;
  margin-top: 387px;
}
