/* ------------------- */
/*       Reset         */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*   Utility classes   */
/* ------------------- */

/* Colors */

:root {
  --dark: #0b0d17;
  --light: #d0d6f9;
  --white: #ffffff;
}

/* Typography */

h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
}
h2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
}
h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
}
h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
}
h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  letter-spacing: 4.75px;
}
.sub-h1 {
  font-family: "Bellefair", serif;
  font-size: 28px;
}
.sub-h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
}
.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}
.p-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  line-height: 32px;
}

/* Interactive elements */

.nav-link_active {
  border-bottom: 3px solid var(--white);
}
.nav--link:hover {
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
}

.lp-main_btn {
  width: 274px;
  height: 274px;
  background: var(--white);
}
.lp-main_btn:hover {
  box-shadow: 0px 0px 0px 88px hsla(0, 0%, 100%, 0.1);
}
